@use '../../scss';

.profile {
    position: relative;
    &:hover{
        border-bottom: 1px solid scss.$primary;
    }
    .profile__header {
        display: flex;
        align-items: center;
        img {
            border: 1px solid black;
            border-radius: 50%;
            background-color: #5F33E1;;
            aspect-ratio: 1/1;
            max-height: 4rem;
            margin-right: 1rem;
        }
    }

    .profile__dropdown {
        min-width: 6rem;
        margin-top: 0.5rem;
        position: absolute;
        >button {
            width: 100%;
            @include scss.button--outline;
            padding: 1rem;
            border-radius: 0.8rem;
            background-color: #d5c9fa;
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.55);
        }
    }
}
