//Base
$primary: #5F33E1;

// Text
$text-primary:#24252C;
$text-secondary:#6E6A7C;
$text-tertiary:#5F33E1;
$text-white:#FFFFFF;

// Button
$btn-primary:#5F33E1;
$btn_text:#5F33E1;
$btn_text-white:#FFFFFF;
$btn_bg-primary:#5F33E1;
$btn_bg-secondary: #ded7fa9a;

// Background
$bg-primary:#fff;
$bg-menu: #ded7fa9a;
$border-radius:1rem;