@import "../../css/variables.css";

.project-page {
    align-self: center;
    width:100%;
    max-width: 900px;
}

.project__header {
    display: flex;
    align-items: middle;
    gap:15px;
}

.task-filters {
    margin-bottom: 15px;
    display: flex;
    gap: 15px;
}

.project__header > button {
    text-decoration: none;
    color:var(--btn-primary);
    background-color: transparent; 
    border: 1px solid var(--btn-primary);
    border-radius: 1rem;
    margin-bottom: 15px;
    padding: 0 1rem;
    transition-duration: 0.5s;
}

.project__header > button:hover{
    color:#fff;
    background-color: var(--btn-primary);
}

.button__filter {
    color:var(--btn-primary);
    background-color: transparent; 
    border: 1px solid var(--btn-primary);
    border-radius: 2rem;
    padding: 0 1rem;
    transition-duration: 0.5s;
    text-decoration: none;
}

.button__filter:hover {
    color:#fff;
    background-color: var(--btn-primary);
}

.task-list {
    display: flex;
    flex-direction: column;
    gap:15px
}

.task-card {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
    background-color: var(--bg-primary);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.task-card p {
    margin:0;
}