@import "../../css/variables.css";
@import "../../css/buttons.css";

nav {
    max-width: 900px;
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

nav button {
    color:var(--btn-primary);
    border: 1px solid var(--btn-primary);
    background-color: transparent;
    transition-duration: 0.5s;  
    border-radius:var(--border-radius);
    padding: 0 1rem;     
}

nav button:hover{
    color:#fff;
    background-color: var(--btn-primary);
    text-decoration: none;
}