@import "../../css/floating-labels.css";
@import "../../css/variables.css";

.form__field {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem ;
    border-radius: var(--border-radius);
}

.card {
    align-self: center;
    width: 100%;
    max-width: 900px;
}

.buttons button {
    color:var(--btn-primary);
    border: 1px solid var(--btn-primary);
    background-color: transparent;
    transition-duration: 0.5s;
    border-radius: 1rem;
    padding: 0 1rem  
}

button:hover{
    color:#fff;
    background-color: var(--btn-primary);
    text-decoration: none;   
}

.form__buttons {
    display: flex;
    gap:1rem
}

.form__buttons button {
    color:var(--btn-primary);
    border: 1px solid var(--btn-primary);
    background-color: transparent;
    transition-duration: 0.5s;
    border-radius: 1rem;
    padding: 0 1rem  
}

.form__buttons button:hover{
    color:#fff;
    background-color: var(--btn-primary);
    text-decoration: none;   
}